.provider{
    font-style: 'Montserrat',display;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    align-items: center;
}
.cat1, .cat2, .cat3{
    font-size: 30px;
    font-style: 'Pacifico',display;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}
.fact{
    font-size: 25px;
    font-style: 'Pacifico',display;
    font-weight: 400;
}
.des{
    font-size: 20px;
    font-style: 'Cabin Sketch',display;
    font-weight: 300;
}
.category{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
}

